<ion-header>
  <ion-toolbar>
    <ion-title>Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)] = 'selectedView'>
    <ion-segment-button value='devs'>
      <ion-label>Developer</ion-label>
    </ion-segment-button>
    <ion-segment-button value='products'>
      <ion-label>Products</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]='selectedView'>
    <div *ngSwitchCase="'devs'">
      <ion-item>
        <ion-label position='stacked'>What\'s your name?</ion-label>
        <ion-input [(ngModel)]='developer.name' plaeholder='Developer Name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='stacked'>Technical Skills</ion-label>
        <ion-input [(ngModel)]='developer.skills' placeholder='Technical skills (use commas)'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='stacked'>Developer photo</ion-label>
        <ion-input [(ngModel)]='developer.img' placeholder='Photo url'></ion-input>
      </ion-item>
      <ion-button expand='full' (click)='addDeveloper()'>Add new developer</ion-button>

      <ion-list>
        <ion-item button *ngFor='let dev of developers' [routerLink]="['/','developers',dev.id]">
          <ion-avatar slot='start'>
            <img [src]='dev.img'>
          </ion-avatar>
          <ion-label>
            <h2>{{ dev.name }}</h2>
            <p>{{ dev.skills }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'products'">
      <ion-item>
        <ion-label position='stacked'>Product name</ion-label>
        <ion-input [(ngModel)]='product.name' placeholder='Product Name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='stacked'>Developer</ion-label>
        <ion-select [(ngModel)]='product.creator'>
          <ion-select-option *ngFor='let dev of developers' [value]='dev.id'>{{ dev.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand='full' (click)='addProduct()'>Add Product</ion-button>
      
      <ion-list>
        <ion-item *ngFor='let prod of products | async'>
          <ion-label>
            <h2>{{ prod.name }}</h2>
            <p>Developed by: {{ prod.creator }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
