<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab='films'>
      <ion-icon name='film'></ion-icon>
      <ion-label>Film</ion-label>
    </ion-tab-button>
    <ion-tab-button tab='people'>
      <ion-icon name='people'></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>
    <ion-tab-button tab='planets'>
      <ion-icon name='planet'></ion-icon>
      <ion-label>Planets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab='developers'>
      <ion-icon name='person'></ion-icon>
      <ion-label>Developers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>